.Form {
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__Field {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 13px;
      font-weight: 500;
      color: #333;
    }
  }

  &__Actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    padding-top: 4px;
  }
}